<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    
    <title>Todo-app</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col span-2">
    <%- include('header.ejs') %>
    <form>
        <div class="flex gap-4 p-4">
            <div class="flex-auto " >
                <input type="text" placeholder=" What's Next?" class="border-2 border-black rounded-full p-2 text-sm"/>
            </div>
            <div class="flex-auto" >
                <input type="date" class="border-2 border-black rounded-full px-5 py-2 text-sm"/>
            </div>
            <div class="flex-none">
                <button type="submit" class="bg-sky-400 px-5 py-2 rounded-full text-white hover:bg-sky-800">Add</button>
            </div>
        </div>
        
    </form>


    





   
    <%- include('todos.ejs') %>

<%- include('footer.ejs') %>

</body>
</html>
